<!-- <div id='divProductAddSet' class="hideComponent" > -->
<div id='divProductAddSet' class="hideComponent">
    <mat-card>
        <mat-card-title>PRODUCTO </mat-card-title>
        <mat-card-subtitle> {{model.name}} </mat-card-subtitle>
        <mat-card-content>
            <div class="div-table-container">
                <div class="div-column">
                    <img [src]="model.pathimg" (error)="onErrorDefaultPic()" alt="{{model.name}}" width="250"
                        height="250" id="productImg">
                    <input type="file" accept="image/*" (change)='onChangeFileUpload($event)' placeholder="Subir Imagen"
                        name="ProfilePhoto" id="ProfilePhoto">
                    <input type="button" value="Remover">
                    <output id="list"></output>
                    <br>
                </div>
                <div class="div-column">
                    <mat-form-field class="hideComponent">
                        <input matInput placeholder='idproducts' [(ngModel)]='model.idproducts'>
                    </mat-form-field>
                    <mat-form-field class="hideComponent">
                        <input matInput placeholder='pathimg' [(ngModel)]='model.pathimg'>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder='Nombre' [(ngModel)]='model.name' required>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea cols="4" rows="4" matInput placeholder='Descripción' [(ngModel)]='model.description'></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder='Código de Barras o clave' name='barcode'
                            [(ngModel)]='model.barcode' required>
                    </mat-form-field>

                    <mat-form-field class="hideComponent">
                        <input matInput placeholder='Estatus' name='idcstatus' [(ngModel)]='model.idcstatus' required>
                    </mat-form-field>

                    <mat-form-field >
                        <mat-label>Estatus Actual</mat-label>
                        <!--  (change)="onEventSelection($event.value)-->
                        <mat-select [(value)]="selected" (selectionChange)="onEventSelection($event.value)" [disabled]="selected > 0">
                            <mat-option *ngFor="let i of liststatus" [value]="i.id">
                                {{i.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="number" name="quantity" min="1" max="999999" matInput placeholder='Precio' name='unitary_price' [(ngModel)]='model.unitary_price' disabled>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="number" name="quantity" min="1" max="999999" matInput placeholder='Costo' name='unitary_cost' [(ngModel)]='model.unitary_cost' disabled>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" name="quantity" min="1" max="999999" matInput placeholder='Existencias' name='existence' [(ngModel)]='model.existence' disabled>
                    </mat-form-field>
                </div>

            </div>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-raised-button type="submit" color="primary">Submit</button> -->
            <button mat-stroked-button color='accent' (click)='onSaveForm()'>ACEPTAR</button>
            <button mat-stroked-button color='warn' (click)='onCancel()'>CANCELAR</button>
        </mat-card-actions>
    </mat-card>
</div>