.div-table-container {
    display: flex; /* or inline-flex */
    
}

.div-column{
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}
.hideComponent{
    /* visibility: hidden; */
    display: none;
    /* display: block; */
}

.showComponent{
    /* visibility: hidden; */
    display: block;
    /* display: block; */
}