<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="redirect('');">
        <i class="material-icons">
          home
        </i>
        &nbsp;&nbsp;&nbsp;&nbsp;Inicio
      </a>
      <a mat-list-item (click)="redirect('products');">
        <i class="material-icons">
          fastfood
        </i>
        &nbsp;&nbsp;&nbsp;&nbsp;Productos
      </a>
      <a mat-list-item (click)="redirect('sales');">
        <i class="material-icons">
          add_shopping_cart
        </i>
        &nbsp;&nbsp;&nbsp;&nbsp;Ventas
      </a>
      <a mat-list-item (click)="redirect('entries');">
        <i class="material-icons">
          donut_small
        </i>
        &nbsp;&nbsp;&nbsp;&nbsp;Inventario
      </a>
      <a mat-list-item (click)="redirect('shrinkages');">
        <i class="material-icons">
          trending_down
        </i>

        &nbsp;&nbsp;&nbsp;&nbsp;Perdidas
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <div class="loading-indicator">
      <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div> -->
    <div class="loading-indicator" *ngIf='(flagSpinner)'>
      <mat-spinner  mode='indeterminate' class="loading-indicator" value='100' diameter='80'
        class="center" color='accent'></mat-spinner>
    </div>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        {{ model.pagetitle }}
      </span>
      <span class="spacer">
      </span>
      <a routerLink="/products">
        <i class="material-icons md-36">
          settings_applications
        </i>
      </a>
      <div *ngIf="(model.username); else elseBlock">
        <a href="#">
          <img src="https://img.icons8.com/doodle/48/000000/english-mustache.png" />
          {{ model.username }}
        </a>
      </div>
      <ng-template #elseBlock>
        <a routerLink="/users">
          <i class="material-icons md-36">
            account_circle
          </i>
          Ingresar
        </a>
      </ng-template>
      <a (click)='logout()' *ngIf='user'>Cerrar Sesión</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>