<div class="flex-container" matTooltip='{{data.description}}' (click)='onSelect($event,data);'>
    <div class='column0'>
        <img src="{{data.pathimg}}" width="120" height="120">

    </div>
    <div class='column1'>
        <div class="hideComponent">
            <label class="itemkey">Id</label>
            <label class="itemvalue">{{data.id}}</label>
            <label class="itemkey">idproducts</label>
            <label class="itemvalue">{{data.idproducts}}</label>
        </div>
        <div>
            <label class="itemkey">{{data.name}}</label>
        </div>
        <div>
            <label class="itemkey">Codigo: </label>
            <label class="itemvalue">{{data.barcode}}</label>
        </div>
        <div>
            <label class="itemkey">Estatus : </label>
            <!-- <label class="itemkey">{{ data.statusname }} </label> -->
            <label class="itemvalue">{{ getcstatusname() }}</label>
            <!-- <label class="itemvalue">{{ data.sgetcstatusname() }}</label> -->

        </div>
        <div>
            <label class="itemkey">Precio: </label>
            <label class="itemvalue">$ {{data.unitary_price}}</label>
        </div>
        <div>
            <label class="itemkey">Costo: </label>
            <label class="itemvalue">$ {{data.unitary_cost}}</label>
        </div>
        <div>
            <label class="itemkey">Existencias: </label>
            <label class="itemvalue"> {{data.existence}}</label>
        </div>
    </div>
</div>