<div class="flex-container" matTooltip='SOL TUBIPAPA ORIGINAL 100 g|Papa frita con sal.'>
    <div class='column0'>
        <img src="./../../../assets/imgs/logo.png" width="120" height="120">
    </div>
    <div class='column1'>
        <!-- <div>
            <label class="itemkey">Id</label>
            <label class="itemvalue">id</label>
            <label class="itemkey">identries</label>
            <label class="itemvalue">identries</label>
        </div> -->
        <div>
            <label class="itemkey">entryproduct.name</label>
        </div>
        <div>
            <label class="itemkey">Codigo: </label>
            <label class="itemvalue">7503020501623</label>
        </div>
        <div>
            <label class="itemkey">Estatus: </label>
            <label class="itemvalue">Activo</label>
        </div>
        <div>
            <label class="itemkey">Precio: </label>
            <label class="itemvalue">$14.00</label>
        </div>
        <div>
            <label class="itemkey">Costo: </label>
            <label class="itemvalue">$9.50</label>
        </div>
        <div>
            <label class="itemkey">Existencias: </label>
            <label class="itemvalue">10</label>
        </div>
        <!-- <br>
        Precio: unitary_price
        <br>
        Precio: unitary_cost
        <br>
        Existencias: existence
        <br> -->
    </div>
</div>