.divProducts {
  display: flex;
  flex-direction: column;
}

.divProducts > * {
  width: 100%;
}

.divSubMenu{
  display: flex;
  flex-wrap: nowrap;
}

.tile-image {
    width:100%;
    height: auto;
 }