<div id='divSubMenu'>
  <span style="margin-right: 35px;">
    <button (click)='ProductAdd()' mat-icon-button matTooltip='Agregar nuevo producto'>
      <mat-icon color="primary" class="md-30">add_circle_outline</mat-icon>
      &nbsp;<span class="aligned-with-icon" style="color:#293955;">NUEVO</span>
    </button>
  </span>

  <span style="margin-right: 40px;">
    <button (click)='ProductSet()' mat-icon-button matTooltip='Editar producto existente'>
      <mat-icon color='accent' class="md-30">create</mat-icon>
      &nbsp;<span class="aligned-with-icon" style="color:#0179bf;">EDITAR</span>
    </button>
  </span>

  <span style="margin-right: 35px;">
    <button (click)='ProductDelete()' mat-icon-button matTooltip='Borrar producto'>
      <mat-icon color="warn">delete_sweep</mat-icon>
      &nbsp;<span class="color:#fa0000;aligned-with-icon" style="color:#fa0000;">BORRAR</span>
    </button>
  </span>
</div>

<br>
<!-- start here another component -->

<products-addset></products-addset>
<!-- end here another component -->
<br>
<mat-form-field>
  <mat-label>Mostrar</mat-label>
  <!--  (change)="onEventSelection($event.value)
   (selectionChange)="onEventSelection($event.value)"
  -->
  <mat-select [(value)]="selected">
    <mat-option *ngFor="let i of liststatus" [value]="i.id">
      {{i.value}}
    </mat-option>
  </mat-select>
</mat-form-field>

<br>
<mat-grid-list cols='5' rowHeight='100px'>
  <div *ngFor='let item of products'>
    <mat-grid-tile *ngIf='(item.idcstatus == selected)' [colspan]='1' [rowspan]='1' (click)="onSelect($event, item)">
      <!-- A structural directive that conditionally includes a template based on the value of an expression coerced to Boolean -->
      <!-- Una directiva estructural que incluye condicionalmente una plantilla basada en el valor de una expresión coaccionada a la booleana -->
      <div *ngIf="item.pathimg == null || item.pathimg == ''; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <img src='https://dl.dropboxusercontent.com/s/6x9dqmz6ewpdj1w/1581413154.jpeg'>
      </ng-template>
      <ng-template #elseBlock>
        <img src={{item.pathimg}}>
      </ng-template>

      <mat-grid-tile-header>
        <h3>{{item.name}} </h3>
      </mat-grid-tile-header>
      <mat-grid-tile-footer>
        <h2>{{item.unitary_price}}</h2>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </div>
</mat-grid-list>